.memberbutton {
  margin: 0px 5px 0px 30px;
  padding: 10px;
  background-color: #f1ab1e;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400;
  opacity: 1;
}
.mainhead {
  margin: 5%;
}
.landing {
  height: 750px;
}
.landingbtn {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: 35%;
  margin-bottom: 5%;
}
.section-title1 h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 60px;
  color: #006400;
  margin-bottom: 0px;
  line-height: 50px;
}
.section-title2 h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 60px;

  color: #228b22;
  margin-left: 50px;
  margin-top: 0;
  line-height: 0.8;
}

.info {
  padding: 8% 0px 3px 0px;
}

.sec-title-one h2 {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: 600;
  color: #006400;
}
@media only screen and (max-width: 400px) {
  .section-title1 h2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;

    line-height: 50px;
  }
  .section-title2 h2 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;

    margin-left: 5px;
    margin-top: 0;
    line-height: 0.8;
  }
}

.about-farm {
  background-color: #228b22;
  color: #fff;
}

.containerhead h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 60px;
  color: #006400;
}

.containertextright2 {
  padding-left: 25px;
}

.whatwedo {
  background-color: #fff;
  color: black;
}
.whatwedo p {
  line-height: 1.5;
}
.whatwedo .card {
  box-sizing: border-box;
  border: solid green;
  padding: 10px;
  border-radius: 15px;
}
